.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  min-height: 100vh;
  padding: 16px;
}

.main-content {
  flex-grow: 1;
  height: calc(100vh - 32px);
  margin-left: 16px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
